.cartGridWrap{
    display: grid;
    grid-template-columns: auto 2fr auto 100px auto auto;

    margin-bottom: 25px;
    .header{
        border-bottom: 1px solid #aaa;
        font-weight: bold;

        display: flex;
        align-items: center;
    }
    .content{
        display: contents;
        border-bottom: 1px solid #aaa;
        .verticalCenter{
            display: flex;
            align-items: center;
        }
        &:last-child {
            div{
                border-bottom: 1px solid #aaa;
            }
        }
    }

    div:not(.cartEmptyWrap) {
        padding: 5px;
    }
}