.headerWrap{
    width: 100%;
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.24);

    .MuiIconButton-root{
        border-radius: 25%;
    }
    .CartButton{
        display: inline-block;
        float: right;
    }
    .MainButton{
        display: inline-block;
    }
}