.headerWrap{
    width: 100%;
    position: sticky;
    top: 0;
    .MuiIconButton-root{
        border-radius: 25%;
    }
    .CartButton{
        display: inline-block;
        float: right;
    }
    .MainButton{
        display: inline-block;
    }
}