.boldText{
    font-size: 20px;
    font-weight: bold;
    color: rgb(62, 64, 66);
    line-height: 28px;
    letter-spacing: -0.3px; 
}
.productWrap {     
    width: 100%;
    margin: 20px 50px;
    box-sizing: border-box;
    border-radius: 30px;

    display: grid;
    grid-template-rows: minmax(300px, auto) 1fr;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .productTop{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;

        overflow: hidden;
        .productImage{
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
            
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            &:hover {
                transform: scale(1.1);
            }
        }
            
    }
    .productBottom{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
      
        background: whitesmoke;
        padding: 10px;

        display: grid;

        grid-template-columns: 1fr 1fr 1fr 48px;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "title  title   title   title"
            "price  price   price   cartButton";
        column-gap: 5px;
            .title{
                @extend .boldText;

                grid-area: title;

                display: flex;
                align-items: center;
                margin: 0 10px;
            }
            .price{
                @extend .boldText;
                grid-area: price;

                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            .cartButton{
                grid-area: cartButton;
            }
    }
}