
.ProductWrap{
    .PaginationWrap{
        width: fit-content; 
        margin: 0 auto 10px auto;
    }
    
    .ScrollToTop{
        position: fixed;
        right: 10px;
        bottom: 10px;
    }
}
