$size_max: 1024px;
$size_middle: 768px;

body {
  margin: 0;
}

.wrap{
    display: flex;
    flex-direction: column;
}

.bodyWrap {
    width: $size_middle;
    margin: 0 auto;
    
    @media screen and (min-width: $size_max) {
      width: $size_max;
    }
    @media screen and (max-width: $size_middle) {
      width: 100%;
    }
}